header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    float: right;
    order: -1;
    width: 100%;
    box-sizing: border-box;
}

    header img {
        float: left;
        margin: 10px;
    }

    header h2 {
        float: left;
    }


div {
    width: 100%;
    background-color: #ccc;
    margin: 20px auto 0;
}

footer {
    background-color: #777;
    text-align: center;
    color: white;
}


body {
    margin: 0;
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


img {
    width: 200px;
    height: 200px;
}

.gallery_nav {
    transform: translateY(-50%);
}

.gallery__pager-current,
.gallery__pager-total {
    font-size: 18px;
    margin: 0 5px;
}

.gallery {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.gallery__slider {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
    max-width: 100%;
}

.gallery__slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery__slide {
    min-width: calc(33.33% - 20px);
    margin-right: 10px;
    box-sizing: border-box;
}

.photo_space {
    display: none;
}

.gallery_nav {
    margin-top: 20px;
}

.photo_space.active {
    display: block;
}

.photo_space {
    display: none;
}

@media (max-width: 768px) {
    .gallery__slide {
        min-width: calc(100% - 20px);
    }

    img {
        width: 250px;
        height: 250px;
    }
}
